@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #0a192f;
  --color-bg-variant: #1c6338;
  --color-primary:#69ff64;
  --color-primary-variant: #3bc32c;
  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 0.4s ease;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
    background-image: url(../src//assets//download.jpeg);
  object-fit: cover;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
.container{
  max-width:80%;
  margin: 0 auto;
  

}

h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
h1{
  font-size: 2.4rem;
}
section{
  padding-top: 8rem;
}
.text-light{
  color: var(--color-light);
}
a{
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover{
  color: var(--color-white);
}
.btn{
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover{
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-bg);
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.flex_center{
  display: flex;
  justify-content: center;
}

.top_section h2{
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 3rem;
}
.top_section h5{
  text-align: center;
  color: var(--color-light);
}
/* media tablet */
@media (max-width:1024px) {
  .container{
    max-width: 85%;
  }
  section{
    padding-top: 6rem;
  }
  .top_section h2{
    margin-bottom: 2rem;
  }
}
/* media phone */
@media (max-width:600px) {
  .container{
    max-width: 90%;
  }
  section{
    padding-top: 5rem;
  }
  .top_section h2{
    font-size: 1.8rem;
  }
}